.tile-container {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
    background-color: transparent;
}
.tile {
	display: block;
	position: absolute;
	left: 0;
    right: 0;
	top: 0;
    bottom: 0;
	margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.tile[tile="2"] {
    background-color: #eee4da;
}
.tile[tile="4"] {
    background-color: #ede0c8;
}
.tile[tile="8"] {
    background-color: #f2b179;
}
.tile[tile="16"] {
    background-color: #f59563;
}
.tile[tile="32"] {
    background-color: #f67c5f
}
.tile[tile="64"] {
    background-color: #f65e3b;
}
.tile[tile="128"] {
    background-color: #edcf72;
}
.tile[tile="256"] {
    background-color: #edcc61;
}
.tile[tile="512"] {
    background-color: #edc850;
}
.tile[tile="1024"] {
    background-color: #edc53f;
}
.tile[tile="2048"] {
    background-color: #edc22e;
}