<div class="container-fluid">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
        <div class="row">
          <div class="col-xs-7">
            <h1 class="title">2048</h1>
          </div>
          <div class="col-xs-5">
            <app-score-board></app-score-board>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-7">
            <p>Join the numbers and get to the <strong>2048 tile!</strong></p>
          </div>
          <div class="col-xs-5">
            <app-new-game></app-new-game>
          </div>
        </div>
        <div class="row">
          <app-playing-field></app-playing-field>
        </div>
    </div>
  </div>
</div>
