<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
        <div class="row">
          <div class="col-xs-6">
            <h1>2048</h1>
          </div>
          <div class="col-xs-6">
            <app-score-board></app-score-board>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-7 col-sm-9">
            <span class="visible-xs-block">Join the numbers and <br /> get to the <strong>2048 tile!</strong></span>
            <span class="hidden-xs btn-align">Join the numbers and get to the <strong>2048 tile!</strong></span>
          </div>
          <div class="col-xs-5 col-sm-3">
            <app-new-game></app-new-game>
          </div>
        </div>
        <div class="row">
          <app-playing-field></app-playing-field>
        </div>
        <div class="row">
           <strong class="text-uppercase">How to play:</strong> 
           Use your 
           <strong>arrow keys</strong> 
           to move the tiles. When two tiles with the same number touch, 
           <strong>they merge into one!</strong>
        </div>
        <hr/>
        <div class="row">
          <strong class="text-uppercase">Note:</strong> The game on <a href="https://gabrielecirulli.github.io/2048/">this site</a> is the original version of 2048.
        </div>
    </div>
  </div>
</div>
